* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Lilita One', cursive;
}
html {
  font-size: 16px;
}
body {
  background-image: url("../images/mainBackground.png");
  background-size: cover;
  position: relative;
  background-attachment: fixed;
}
.hidden {
  display: none;
}

/* NOTE: header */
.btn {
  margin: 15px;
  font-size: 1.1em;
}


/* NOTE: main */
#contentText {
  color: #FFF;
  font-size: 4.5em;
  margin: 150px 0 0 0;
}

#aboutBox, #socialsBox {
  width: 1140px;
  height: 100%;
  border-radius: 25px;
  position: absolute;
  font-size: 2em;
  color: #FFF;
  text-align: center;
  margin-top: 150px;
}
.techStack {
  min-width: 200px;
  min-height: 200px;
  max-width: 200px;
  max-height: 200px;
  padding: 15px;
  background-color: #3F1C64;
  border-radius: 60px;
}


/* NOTE: footer */
#footerBar {

}

/* NOTE: media queries */

/* Extra small devices (portrait phones, less than 576px)*/
@media (max-width: 575.98px) {

}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width: 767.98px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) and (max-width: 991.98px) {

}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) and (max-width: 1199.98px) {

}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}
